*{
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
body {

  color: white;
  min-width: 320px;
}
.body-contact{
  background: #E8E8E8 !important;
}
a{
  cursor: pointer;
}
img{
  object-fit: cover;
}