* {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  height: 550vh;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  background: #000000;
  color: white;
  align-items: center;
  position: fixed;
  z-index: 3;
  width: 100%;
}

@media screen and (max-width: 500px) {
  header .logo-header {
    margin-left: 15px;
    height: 22px;
    width: 77px;
  }
  header .bloc-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-right: 15px;
  }
  header .bloc-contact a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
  }
  header .bloc-contact .phone {
    height: 28px;
    width: 28px;
  }
  header .bloc-contact #menu {
    display: flex;
    height: 35px;
  }
  header .bloc-contact #menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  header .bloc-contact #menu ul li {
    width: 25px;
    display: flex;
    background: white;
    height: 5px;
    border-radius: 10px;
  }
}
.banner {
  background-image: url("./img/background/background-image.png");
  background-size: cover;
}

@media screen and (max-width: 500px) {
  .banner .after {
    transform: translate(0px, 50px);
    transition: all 2s;
    position: relative;
  }
  .banner div {
    z-index: 2;
    transform: translate(-330px, 40px);
    transition: all 2s;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 67.948%;
    background: linear-gradient(#f0850b, #ea5d11);
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
  }
  .banner div a {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-left: 32px;
    font-size: 22px;
    color: white;
    font-weight: bold;
  }
  .banner .div-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-180px);
    background: transparent;
  }
  .banner .div-title h1 {
    text-align: center;
    font-size: 48px;
  }
  .banner .div-title p {
    margin-top: 10px;
    font-size: 22px;
    width: 65%;
    text-align: center;
  }
  .banner .div-title a {
    margin: 0;
    margin-top: 35px;
    background: #f1e102;
    color: #000000;
    font-size: 22px;
    width: 56.1538%;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 6px;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2750px;
  justify-content: space-evenly;
}
.about h2 {
  color: #ea5d11;
}
.about .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .card .picture {
  border-radius: 15px;
  width: 79.48%;
}
.about .card .youssouf {
  width: 88.205%;
  height: 647px;
}
.about .card .youssouf .border-youssouf {
  width: 93.63%;
  height: 629px;
}
.about .card .sami {
  width: 88.205%;
  height: 733px;
}
.about .card .sami .border-sami {
  width: 93.63%;
  height: 715px;
}
.about .card .information {
  transform: translateY(-45px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-radius: 40px;
}
.about .card .information .border {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: solid 4px #f0850b;
  border-radius: 30px;
}
.about .card .information .border h3 {
  color: #ea5d11;
  font-size: 28px;
}
.about .card .information .border p {
  width: 50%;
  font-size: 22px;
}
.about aside {
  display: flex;
  justify-content: center;
}
.about aside p {
  text-align: center;
  width: 50%;
  color: #EA5D11;
  font-size: 22px;
}

.separation {
  background: linear-gradient(#F2B704, #F0850B);
  width: 100%;
  height: 32px;
}

/*# sourceMappingURL=styles.css.map */
