@media screen  and (max-width: 700px){
 footer{
  flex-direction: column;
  height: 800px;
  align-items: center;
  justify-content: space-evenly;
  .bloc1{
  height: 150px;
    
    align-items: center;

.adress{
 
  justify-content: space-around;
}
  }
  .trait {
    width: 20.512%;
    height: 2px;
    background: #D8D9D9;
  }
  .bloc2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social {
    width: 100%;
    height: 250px;
    
  }
  .law {
    width: 100%;
  }
 } 
}
footer {
  padding: 0 30px;
  display: flex;
  
  background: #2E2E2E;
  border: solid 1px #707070 ;
  .bloc1{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
 
  .logo-footer{
    width: 12em;
   
  }
  .adress{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35%;
    justify-content: space-around;
   
    h4{
      margin-top: 5px;
      margin-bottom: 5px;
      color: #D8D9D9;
      a{
        color: #D8D9D9;
      }
    }

  }
  
  .social{
   
    display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   
   a{
    display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  color: #D8D9D9;
  img{
  //   width: 1.015em;
  // height: 2.018em;
  // object-fit: contain;
  // margin-right: 50px;
  }
  h4 {
    width: 10%;
  }
  }
    
  }
  .law{
    
  
   
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    a{
     
    color: #D8D9D9;
    img{
    //   width: 1.015em;
    // height: 2.018em;
    // object-fit: contain;
    // margin-right: 50px;
    }
    // h4 {
    //   width: 10%;
    // }
    }
  }
}
@media screen and (min-width:701px) and (max-width:1023px) {
footer {
  height: 450px;
  align-content: space-around;
  flex-wrap: wrap;
  .bloc1 {
    height: 220px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    .logo-footer{
      width: 14em;
      height: 4em;
    }
  }
  .trait{
    display: none;
  }
  .bloc2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .social {
    height: 200px;
    width: 50%;
    a{
      display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    color: #D8D9D9;
    img{
    //   width: 1.015em;
    // height: 2.018em;
    // object-fit: contain;
    // margin-right: 50px;
    }
    h4 {
      width: 10%;
    }
    }
  }
  .law {
    width: 35%;
    align-items: flex-start;
  }
}
  
}
@media screen and (min-width:1024px) {
 footer{
  height: 300px;
  align-items: center;
  justify-content: space-around;
  .bloc1{
    height: 80%;
    width: 45%;
    align-items: center;
  }
  .bloc2{
    display: flex;
    height: 80%;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    .trait {
      display: none;
    }
    .social {
      height: 70%;
      justify-content: space-between !important;
      order: 2;
    }
    .law {
      height: 70%;
      justify-content: space-between !important;
    }
  }
 }
}