@font-face {
  font-family: Montserrat-regular;
  src: url("./font-family/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Viga-regular;
  src: url("./font-family/Viga-Regular.ttf");
}

@font-face {
  font-family: Montserrat-bold;
  src: url("./font-family/Montserrat-Bold.ttf");
}

