//all
.bis{
  height: 0px ;
  width: 0px;
}
.achievement-section{
  display: flex;
  flex-direction: column;
  background: #FFFFFF !important;
  width: 100%;
  justify-content: space-around;
  
  h1{ margin-top: 100px;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;

    background: linear-gradient(#f0850b, #ea5d11);

  }
  .all-cards{
    display: flex;
    .card{
      display: flex;
      img{
      border-radius: 1em 1em 0 0 ;
      }
      .information{
        background: black;
        border-radius: 2em;
        border: solid 1px #707070;
        box-shadow: #00000091 10px 10px 6px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .border{
        border: #F0850B solid 4px;
        border-radius: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
          border-bottom: 2px solid #F0850B;
          line-height: 50px;
          color: #f0850b;
          width: 2em;
          text-align: center;
        }
        p{
          display: flex;
          justify-content: center;
          align-items: center;
          color: #FFFFFF;
          text-align: center;
        }
      }
    }
  }
}

@media screen  and (max-width:499px){
 .achievement-section {
 
  
  h1 {
    margin-top: 100px;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
width: 100%;
    background: linear-gradient(#f0850b, #ea5d11);
  }
  .all-cards{
    height: 2700px;
    width: 100%;
    align-items: center;
 
    flex-direction: column;
    justify-content:space-around ;
    .card{
      height: 400px;
      width: 84.11%;
    
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      img{
        height: 60%;
        width: 84.15%;
        
      }
      .information {
        
       
        transform: translateY(-30px);
        width: 100%;
        height: 40%;
      
        .border{
          
          height: 75%;
          width: 92%;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 20px;
         
        }
      }
    }
  }
 }
 .bis {
  height: 0px;
  width: 0px;
 }
  
}

@media screen  and (min-width:500px) and (max-width:1023px){
  .achievement-section{
    h1{
      width: 65.24%;
      border-radius: 25px;
      box-shadow: inset 3px 3px 6px #00000082;

    }
    .all-cards{
flex-wrap: wrap;
justify-content: space-around;
    }
    .card{
      width: 45%;
      flex-direction: column;
      img{
        width: 84%;
        height: 60%;
      }
      .information{
        width: 100%;
        height: 40%;
        transform: translateY(-5px);
        .border{
          justify-content: space-between;
  
    padding-bottom: 20px;
    height: 70% !important;
    width: 92% !important;
        }
      }
    }
  }
}

@media screen and (min-width : 1024px) {
  .achievement-section{
    height: 1100px;
    h1{
      width: 60%;
      border-radius: 25px;
      box-shadow: inset 3px 3px 6px #00000082;
    }
    .all-cards {
      flex-wrap: wrap;
      justify-content: space-around;

      .card{
        width: 27%;
        flex-direction: column;
        img{
          width: 80%;
          height: 60%;
        }
        .information{
          height: 40%;
          width: 100%;
          transform: translateY(-40px);
          .border{
            height: 70% !important;
            padding-bottom: 20px;

          }
        }
      }
    }
  }
  
}