.processus-section {
  display: flex;
  flex-direction: column;
  background: #e8e8e8 !important;
  justify-content: space-between;
  h1 {
    font-family: "Viga-regular";

    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;

    background: linear-gradient(#f0850b, #ea5d11);

    box-shadow: inset #00000082 3px 3px 6px;
  }
}
@media screen and (max-width: 500px) {
  .processus-section {
    h1 {
      width: 100%;
      margin-top: 100px;
    }
    .processus {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: space-around;
      // height: 1693px;
      margin-top: 25px;
      .path {
        background-image: url("./img/picture/Chemin-bas.png");
        width: 36px;
        height: 85px;
        background-size: contain;
      }
      .bloc {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        height: 638px;
        .bloc1 {
          display: flex;
          flex-direction: column;
          height: 100%;
          align-items: center;
          justify-content: space-around;
        }
        .bloc-a {
          background-image: url("./img/picture/bloc-a4.png");
          height: 509px;
          width: 78.464%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          box-shadow: 10px 10px 6px #00000091;
          border-radius: 35px;
          background-size: cover;
          border: red;
          h3 {
            
            font-size: 34px;
            font-weight: bolder;
          }
          .information {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 45%;
            bottom: auto;
            h3 {
              margin-top: 0;
              color: #f0850b;
              width: 74.51%;
              text-align: center;
              font-size: 22px;
            }
            p {
              width: 74.51%;
              color: #d8d9d9;
              font-size: 18px;
              text-align: center;
            }
            .icon-bloc {
              width: 70px;
              height: 70px;
            }
          }
        }
        .bloc-b {
          background-image: url("../../img/picture/Chemin-bas.png");
          width: 36px;
          height: 85px;
          background-size: contain;
        }
      }
    }
  }
}
@media screen and (min-width: 500px) {
  .processus-section {
    h1 {
      width: 36.677%;
      border-radius: 1em;
    }
    .processus {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 1500px;
      align-items: center;
      width: 100%;
      .path {
        background-image: url("./img/picture/Chemin-bas.png");
        width: 75px;
        height: 200px;
        background-size: cover;
      }
      .pro1{
        justify-content: right;
      }
      .pro2{
        justify-content: left;
      }
      .bloc {
        .one{
          order: 2;
        }
        .left{
          background-image: url("../../img/picture/gauche.png")
        }
        .two {
          order: 1;
        }
        .right{
          background-image: url("../../img/picture/right.png")
        }
        display: flex;
        width: 90%;
        
        align-items: center;
        .bloc-a {
          border: none;
          background: black;
          display: flex;
          width: 48.902%;
          border-radius: 22px;
          background-size: contain;
          background-repeat: no-repeat;
          height: 195px;
          box-shadow: 10px 10px 6px #00000091;
          .bloc1 {
            width: 65%;
          }
          .bloc2 {
            background-image: url("../../img/picture/fleche-droite2.png");
            width: 35%;
            height: 100%;
            border-radius: 18px;
            background-size: cover;
          }
        }
        .bloc-b {
         
          width: 12%;
          background-repeat: no-repeat;
          // background-size: cover;
          height: 45%;
          display: flex;
         justify-items:  center;
        }
      }
    }
  }
}
