@media screen and (max-width: 499px) {
  .services-section {
    .all-cards {
      .card-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
      .card-one {
        height: 850px;
        .one {
          background-image: url("./img/background/website.png");
          object-fit: cover;
          height: 240px;
          background-size: auto;
          background-repeat:no-repeat p {
            width: 55%;
          }
        }
        .two {
          background-image: url("./img/background/charte.png");
          object-fit: cover;
          height: 242px;
          background-repeat: no-repeat;
          p {
            width: 35%;
          }
        }
        .three {
          background-image: url("./img/background/strategie.png");
          object-fit: cover;
          height: 286px;
          p {
            width: 55%;
          }
        }
      }
      .card-two {
        height: 1200px;

        .four {
          background-image: url("./img/background/print.png");
          object-fit: cover;
          height: 635px;
          ul {
            width: 30%;
            padding-left: 30px;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            li {
              list-style-type: disc;
              line-height: 25px;
              color: black;
            }
          }
        }
        .five {
          background-image: url("./img/background/logo.png");
          object-fit: cover;
          height: 458px;
          p {
            width: 35%;
          }
        }
      }
      .six {
        background-image: url("./img/background/digitale.png");
        object-fit: cover;
        height: 402px;
        ul {
          width: 30%;
          padding-left: 30px;
          height: 60%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
          li {
            list-style-type: disc;
            color: black;
            line-height: 25px;
          }
        }
      }
      .card {
        width: 93.6%;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        // border: black solid 1px;
        // box-shadow: #00000091 5px 5px 6px;

        h2 {
          margin-top: 15px;
          margin-left: 15px;
          font-size: 22px;
          text-shadow: #000000a6 2px 3px 6px;
        }
        p {
          margin-top: 10px;
          padding-left: 15px;
          color: black;
          font-weight: bolder;
        }
      }
    }
  }
}

@media screen and (min-width: 1023px) {
  .services-section {
    height: 2400px;
    .card {
      border-radius: 2em;
      padding: 0 !important;
    }
    .all-cards {
      height: 2000px;
      align-content: space-around;
      width: 79.51%;
    }
    .groupe-one {
      height: 1432px;
      width: 100%;

      display: flex;
      justify-content: space-between;

      .card-one {
        width: 60%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .one {
          background-image: url("./img/background/website-dekstop.png");
          background-repeat: no-repeat;
          background-size: contain;
          width: 100%;
          height: 393px;
          align-items: flex-start;
          h2 {
            width: 46.24%;
            margin-top: 25px;
            margin-left: 16px;
            font-size: 2em;
            text-shadow: 2px 3px 6px #000000A6;
          }
          p {
            margin-top: 10px;
            margin-left: 16px;
            color: black;
            width: 33.65%;
            font-size: 1.3em;
          }
        }
        .two {
          background-image: url("./img/background/charte-dekstop.png");
          background-size: contain;
          order: 3;
          width: 100%;
          background-repeat: no-repeat;
          height: 367px;
          align-items: flex-start;
          h2 {
            text-shadow: 2px 3px 6px #000000A6;
            margin-top: 30px;
            margin-left: 25px;
            font-size: 2em;
            width: 37.51%;
          }
          p {
            width: 35%;
            font-size: 1.3em;
            color: #000;
            margin-left: 25px;
            margin-top: 55px;
            width: 24.8%;
          }
        }
        .three {
          text-shadow: 2px 3px 6px #000000A6;
          order: 2;
          width: 100%;
          background-repeat: no-repeat;
          height: 505px;
          align-items: flex-start;
          background-image: url("./img/background/strategie-dekstop.png");
          background-size: contain;
          h2 {
            margin-top: 45px;
            margin-left: 16px;
            width: 59.85%;
            font-size: 2em;
          }
          p {
            margin-top: 50px;
            margin-left: 16px;
            width: 32.5%;
            color: #000;
            font-size: 1.3em;
            width: 32.5%;
          }
        }
      }
      .card-two {
        width: 35%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .four {
          width: 100%;
          align-items: flex-start;
          height: 687px;
          background-image: url("./img/background/print-dekstop.png");
          background-repeat: no-repeat;
          background-size: cover;
          h2{
            text-shadow: 2px 3px 6px #000000A6;
            margin-top: 30px;
            margin-left: 26px;
            font-size: 2em;
            width: 71.779%;
          }
          ul {
            margin-top: 80px;
            margin-left: 40px;
            width: 32.38%;
            li{
              list-style-type: disc;
              color: #000;
              font-size: 1.3em;
              line-height: 25px;
            }
          }
        }
        .five {
          width: 100%;
          background-repeat: no-repeat;
          height: 703px;
          background-image: url("./img/background/logo-dekstop.png");
          background-size: cover;
          align-items: flex-start;
          h2{
            text-shadow: 2px 3px 6px #000000A6;
            margin-top: 50px;
            margin-left: 26px;
            font-size: 2em;
            width: 51.31%;
          }
          p{
            font-size: 1.3em;
            color: #000;
            margin-left: 26px;
            margin-top: 50px;
            width: 35.25%;
          }
        }
      }
    }
    .six {
      background-image: url("./img/background/digitale-dekstop.png");
      background-repeat: no-repeat;
      width: 100% !important;
      background-size: cover;
      height: 325px;
      align-items: flex-start;
      h2{
        text-shadow: 2px 3px 6px #000000A6;
        width: 33.99%;
        margin-top: 25px;
        margin-left: 44px;
        font-size: 2em;
        
      }
      ul {
        margin-top: 22px;
        margin-left: 60px;
        li{
          color: #000;
          list-style-type: disc;
          font-size: 1.3em;
        }
      }
    }
  }
}
